* {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

table img {
    object-fit: cover;
    border: 4px solid #2b2b2b1c;
    border-radius: 100px;
}

#head {
    background-color: #2b2b2b;
    column-span: all;
}

#head th {
    color: white;
    text-align: left;
    font-size: 12pt;
    padding: 18px 15px;
    border-bottom: 3px solid white;
}

table {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.headers th {
    color: white;
    background-color: #086b4c;
    border: none;
    text-align: left;
}

td:nth-child(even) {
    background-color: #2b2b2b1c;
}

table td,
table th {
    padding: 10px 15px;
}

table tbody tr {
    border-bottom: 2px solid #2b2b2b48;
}

table tbody tr:last-of-type {
    border-bottom: 4px solid #086b4c;
}

table tbody tr:hover {
    font-weight: bolder;
    background-color: #086b4c44;
    color: #086b4c;
    transition: .2s;
}

.button {
    width: fit-content;
    font-size: 15px;
    letter-spacing: 0.015em;
    text-align: center;
    background-color: #2b2b2b;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
}

.button:link {
    color: white;
}

.button:visited {
    color: white;
}

.button:hover {
    background-color: #086b4c;
    transition: .3s;
}

.button:active {
    background-color: #07573d;
}